body{
    font-family: 'Expletus Sans', cursive;
    background-color: black;
}
table{
    border-collapse: collapse;
    border: 2px ridge whitesmoke;
    margin: auto;
    color: white;
}
thead{
    background-color: white;
    color: black;
}
tbody tr:nth-child(2n){
    background-color: rgb(224, 212, 212);
    color: black;
}
th,td{
    padding: 0.5rem;
    border: 1px solid whitesmoke;
}
th{
    text-align: center;
    
}
td:nth-child(5){
    background-color: black;
}
img{
    width: 400px;
    vertical-align: bottom;
    object-fit: contain;
}
h1,h2{
    text-align: center;
}
td:last-child{
    padding: 0px;
}

#columnaAudio:hover{
    background-image: url('assets/wave.gif');
    background-position: center;
    background-size: cover;
}
audio{
    opacity: 50%;
    top: 0px;
    filter: blur(0.5px);
    border-radius: 50%;
    margin-top: 10rem;
}
#barra{
    display: flex;
}